# TASK 1

# SIRSS2276

# Soumya Gite

Q1.
    55555
    5555
    555
    55
    5

In [3]:
for i in range(5, 0, -1):
    for j in range(0,i):
        print("5", end =' ')
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
Q2.
    0 1 2 3 4 5
    0 1 2 3 4
    0 1 2 3
    0 1 2
    0 1

In [5]:
for x in range(6,1,-1):
    for y in range(1,x):
        print(y, end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
Q3.
    1
    3 3
    5 5 5
    7 7 7 7
    9 9 9 9 9

In [6]:
for i in range (1,6,1):
  for j in range (0,i,1):
    print(2*i-1, end =" ")
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
Q4.
    1
    2 1
    3 2 1
    4 3 2 1
    5 4 3 2 1

In [7]:
for i in range (1,6,1):
  for j in range (0,i,1):
    print(i-j, end =" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
Q5.
    1
    3 2
    6 5 4
    10 9 8 7

In [8]:
k=1
for i in range (1,5,1):
  for j in range (0,i,1):
    print(k-j, end =" ")
  k=k+i+1
  print()

1
3 2
6 5 4
10 9 8 7

In [ ]:
Q6.
    1
    1 1
    1 2 1
    1 3 3 1
    1 4 6 4 1
    1 5 10 10 5 1
    1 6 15 20 15 6 1

In [9]:
n=int(input("Enter the row number"))
list1 = []
for i in range(n):
    temp_list=[]
    for j in range(i+1):
        if j==0 or j==i:
            temp_list.append(1)
        else:
            temp_list.append(list1[i-1][j-1] + list1[i-1][j])
    list1.append(temp_list)
    
for i in range(n):
    for j in range(i+1):
        print(list1[i][j], end=" ")
    print()

Enter the row number7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:
Q7.
    1 2 3 4 5
    2 2 3 4 5
    3 3 3 4 5
    4 4 4 4 5
    5 5 5 5 5

In [11]:
for i in range(1,6):
  for j in range (1,6):
    if i>j:
      print(i,end=" ")
    else:
      print(j,end=" ")
  print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
Q8.
    1 
    2 4
    3 6 9
    4 8 12 16
    5 10 15 20 25
    6 12 18 24 30 36
    7 14 21 28 35 42 49
    8 16 24 32 40 48 56 64

In [12]:
for i in range(1,9):
    x=1
    for j in range(1,i+1):
        n=i*x
        print(n, end=" ")
        x+=1
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [ ]:
Q9.
    * * * * * * 
     * * * * * 
      * * * *
       * * *
        * *
         *

In [13]:
n=int(input("Enter a number"))
for i in range(n,0,-1):
    print(" "*(n-i)+"* "*i)

Enter a number6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
Q10.     * 
        * * 
       * * * 
      * * * * 
     * * * * * 
    * * * * * *

In [14]:
n=int(input("Enter a number"))
for i in range(1,n+1):
    print(" "*(n-i)+"* "*i)

Enter a number6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
Q11.

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 

* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [15]:
for i in range(1,7):
    print("* "*i)
    
    
print()
for i in range(6,0,-1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
Q12.

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [16]:
for i in range(1,6):
    print("* "*i)
for i in range(4,0,-1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
Q13.       
        *  
      * *  
    * * * 
  * * * * 
* * * * * 
  * * * * 
    * * * 
      * * 
        *

In [17]:
n=int(input("Enter a number"))
for i in range(1,n+1):
    print("  "*(n-i)+"* "*i)
for i in range(n-1,0,-1):
    print("  "*(n-i)+"* "*i)

Enter a number5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
Q14.

* * * * * * 
 * * * * * 
  * * * * 
   * * * 
    * * 
     * 
     * 
    * * 
   * * * 
  * * * * 
 * * * * * 
* * * * * *

In [18]:
n=int(input("Enter a number"))
for i in range(n,0,-1):
    print(" "*(n-i)+"* "*i)
for i in range(1,n+1):
    print(" "*(n-i)+"* "*i)

Enter a number6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
Q15.

***************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*

In [19]:
for i in range(1,9):
    for j in range(1,17):
        if(j<=9-i or j>=8+i):
            print("*", end="")
        else:
            print("_",end="")
    print()

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*